.cart {
    position: sticky;
    top: 0;
    background-color: darkorange;
    padding: 10px;
    width: 275px;
}

.cart h4 {
    font-size: 25px;

}

.cart p {
    margin-top: 10px;
    font-size: 20px;
}