.product-inform {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 50px;
}

.products {
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
    position: relative;

}

.products img {
    border-radius: 10px;
}

.add-btn {
    width: 100%;
    background-color: rgb(255, 132, 0);
    padding: 10px;
    border-radius: 0 0 10px 10px;
    position: absolute;
    bottom: 0;
    right: 0;


}